@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
}

#content-row {
  margin-top: 25%;
}

#name {
  font-weight: bold;
  font-size: 5.5rem;
}
