@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  /* Colors */
  --color-1: #e40303;
  --color-2: #ff8c00;
  --color-3: #ffed00;
  --color-4: #008026;
  --color-5: #24408e;
  --color-6: #732982;
  --light-color: #ccc;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 5rem;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#main-content {
  flex: 1;
}

#content-row {
  margin-top: 35vh;
}

#name {
  display: inline-block;
  font-weight: bold;
  font-size: 5.5rem;
  color: black;

  /* Underline */
  border-bottom: 1rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    var(--color-1),
    var(--color-1) 16.66%,
    var(--color-2) 16.66%,
    var(--color-2) 33.33%,
    var(--color-3) 33.33%,
    var(--color-3) 50%,
    var(--color-4) 50%,
    var(--color-4) 66.66%,
    var(--color-5) 66.66%,
    var(--color-5) 83.33%,
    var(--color-6) 83.33%,
    var(--color-6)
  );
}

#main-footer {
  margin-top: 0rem;
}
#main-footer p {
  color: var(--light-color);
}
#main-footer a {
  text-decoration: none;
  color: inherit;
}
